[Unit]
Description=Controlador Pantalla DeepCool AK620 Digital
After=network.target

[Service]
Environment=PYTHONPATH=%h/.local/lib/python3.14/site-packages
ExecStart=%h/.local/bin/deepcool-ak-series-digital.py
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
